<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Goods Returned
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">
  <ion-searchbar (ionInput)="getItems($event)" class="item item-trns text-center" placeholder="filter by gr#"></ion-searchbar>

  <ion-list>
    <ion-item-divider >Purchases Returned</ion-item-divider>
    <ion-item *ngFor="let product of grOutList" class="item item-trns text-center">
      <strong><p>{{ product.name }} #{{product.grn}}</p></strong>
      <p>Date: {{product.date}}</p>
      <p>Returned: {{product.greturn}}</p>
      <!-- <p></p> -->

      <p>Supplier: {{product.supplier}}</p>

    </ion-item>
    <ion-item-divider >Sales Returned</ion-item-divider>
    <ion-item *ngFor="let product of grInList" class="item item-trns text-center">
      <strong><p>{{ product.name }} #{{product.grn}}</p></strong>
      <p>Date: {{product.date}}</p>
      <p>Returned: {{product.salegreturn}}</p>
      <!-- <p></p> -->
      <p>Supplier: {{product.supplier}}</p>

    </ion-item>
        </ion-list>

</ion-content>
