<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Add Stock
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page13">
  <img src="assets/img/oqLzzWYmSOWOFa66UxpI_boxes.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
  <input type="hidden" [(ngModel)]="product.id" />
    <ion-item>
      <ion-label floating>Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="product.date" required=""></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Product Name</ion-label>
      <ion-input type="text" placeholder="Product Name" [(ngModel)]="product.name" required="" ></ion-input>
    </ion-item>
    <ion-item>
    <ion-label floating>Unit of Measure</ion-label>
    <ion-input type="text" placeholder="eg. kg, g, bags" [(ngModel)]="product.unit" required="" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Buying Price/unit</ion-label>
    <ion-input type="number" placeholder="Buying Price" [(ngModel)]="product.bprice" required="" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Selling Price/unit</ion-label>
    <ion-input type="number" placeholder="Selling Price" [(ngModel)]="product.sprice" required="" ></ion-input>
  </ion-item>
    <ion-item >
      <ion-label floating>Supplier</ion-label>
      <ion-select [(ngModel)]="product.supplier" required="" >
        <ion-option value="{{ supplier.name }} " *ngFor="let supplier of suppliers | async" >{{ supplier.name }}</ion-option>
      </ion-select>
    </ion-item>
    <br>
    <div class="GRN" *ngIf="product.id">
      <ion-item-divider color="light">Returning Goods</ion-item-divider>
      <ion-item>
      <ion-label floating>Returning</ion-label>
      <ion-input type="number" placeholder="e.g 100" [(ngModel)]="product.greturn" required="" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>GRN</ion-label>
        <ion-input type="number" placeholder="5433543" [(ngModel)]="product.grn" required="" ></ion-input>
      </ion-item>
      <ion-item >
        <ion-label floating>GR Status</ion-label>
        <ion-toggle [(ngModel)]="product.gr" color="secondary"></ion-toggle>
      </ion-item>
    </div>

    <button id="addStock-button6" ion-button clear color="balanced" block large (click)="addProduct(product.id,product.date,product.name,
    product.unit,product.bprice,product.sprice,product.supplier,product.greturn,product.grn,product.gr)">
      <span *ngIf="product.id"><ion-icon name="create"></ion-icon></span><span *ngIf="!product.id"><ion-icon name="add-circle"></ion-icon></span>
    </button>
</ion-content>
