<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Add Purchase
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page13">
  <img src="assets/img/oqLzzWYmSOWOFa66UxpI_boxes.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
  <input type="hidden" [(ngModel)]="purchase.id" />
    <ion-item>
    <ion-label floating>Product</ion-label>
    <ion-select [(ngModel)]="purchase.name" required="" disabled="true">
      <ion-option value="{{product.name}}" *ngFor="let product of products | async">{{product.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label floating>Unit of Measure</ion-label>
    <ion-input type="text" placeholder="eg. kg, g, bags" [(ngModel)]="purchase.unit" required="" disabled="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Price per unit</ion-label>
    <ion-input type="number" placeholder="Unit Price" [(ngModel)]="purchase.price" required="cant be empty" disabled="true"></ion-input>
  </ion-item>
    <ion-item >
      <ion-label floating>Supplier</ion-label>
      <ion-select [(ngModel)]="purchase.supplier" disabled="true">
        <ion-option value="{{ supplier.name }} " *ngFor="let supplier of suppliers | async" >{{ supplier.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="purchase.date" required=""></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Units to Buy</ion-label>
      <ion-input type="number" placeholder="e.g 100" [(ngModel)]="purchase.quantity" required="" ></ion-input>
    </ion-item>
    <br>
    <div class="GRN" *ngIf="purchase.id">
      <ion-item-divider color="light">Returning Goods</ion-item-divider>
      <ion-item>
      <ion-label floating>Returning</ion-label>
      <ion-input type="number" placeholder="e.g 100" [(ngModel)]="purchase.greturn" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>GRN</ion-label>
        <ion-input type="number" placeholder="5433543" [(ngModel)]="purchase.grn" ></ion-input>
      </ion-item>
      <ion-item >
        <ion-label floating>GR Status</ion-label>
        <ion-select [(ngModel)]="purchase.gr" interface="popover">
          <ion-option value="true">true</ion-option>
          <ion-option value="false">false</ion-option>
        </ion-select>
      </ion-item>
    </div>

    <button id="addStock-button6" ion-button clear color="balanced" block large (click)="addPurchase(purchase.id,purchase.date,purchase.name,purchase.quantity,
    purchase.unit,purchase.price,purchase.supplier,purchase.greturn,purchase.grn,purchase.gr)">
      <span *ngIf="purchase.id"><ion-icon name="create"></ion-icon></span><span *ngIf="!purchase.id"><ion-icon name="add-circle"></ion-icon></span>
    </button>
</ion-content>
