<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Add Sale
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page13">
  <img src="assets/img/oqLzzWYmSOWOFa66UxpI_boxes.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
  <input type="hidden" [(ngModel)]="product.id" />
  <br>
    <ion-item>
    <ion-label floating>Product</ion-label>
    <ion-select [(ngModel)]="product.name" required="" disabled="true">
      <ion-option value="{{product.name}}" *ngFor="let product of products | async">{{product.name}}</ion-option>
    </ion-select>
  </ion-item>
    <ion-item>
    <ion-label floating>Unit of Measure</ion-label>
    <ion-input type="text" [(ngModel)]="product.unit" required="" disabled="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Buying Price/unit</ion-label>
    <ion-input type="number"  [(ngModel)]="product.bprice" required="" disabled="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Selling Price/unit</ion-label>
    <ion-input type="number"  [(ngModel)]="product.sprice" required="" disabled="true"></ion-input>
  </ion-item>
    <!-- <ion-item >
      <ion-label floating>Supplier</ion-label>
      <ion-select [(ngModel)]="product.supplier" required="" disabled="true">
        <ion-option value="{{ supplier.name }} " *ngFor="let supplier of suppliers | async" >{{ supplier.name }}</ion-option>
      </ion-select>
    </ion-item> -->
    <ion-item>
      <ion-label floating>Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="product.saledate" required=""></ion-datetime>
    </ion-item>
    <div [formGroup]="slideOneForm">
      <ion-item>
        <ion-label floating>Units to Sell</ion-label>
        <ion-input type="number"  [(ngModel)]="product.salequantity" required="" formControlName="buyP"></ion-input>
      </ion-item>
      <ion-item *ngIf="!slideOneForm.controls.buyP.valid  && (slideOneForm.controls.buyP.dirty)">
                <p>Please enter a valid value.</p>
            </ion-item>
      </div>
    <br>
    <div class="GRN" *ngIf="product.id">
      <ion-item-divider color="light">Returning Goods</ion-item-divider>
      <ion-item>
      <ion-label floating>Returning</ion-label>
      <ion-input type="number" [(ngModel)]="product.salegreturn" [required]="false" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>GRN</ion-label>
        <ion-input type="number" [(ngModel)]="product.salegrn" [required]="false" ></ion-input>
      </ion-item>
      <ion-item >
        <ion-label floating>GR Status</ion-label>
        <ion-select [(ngModel)]="product.salegr" interface="popover">
          <ion-option value="true">true</ion-option>
          <ion-option value="false">false</ion-option>
        </ion-select>      </ion-item>
    </div>
<ion-fab bottom center>
    <button id="addStock-button6" ion-fab color="secondary"(click)="addSale(product.id,product.saledate,product.name,product.salequantity,
    product.unit,product.bprice,product.sprice,product.salegreturn,product.salegrn,product.salegr)" [disabled]="!slideOneForm.valid">
      <span *ngIf="product.id"><ion-icon name="create"></ion-icon></span><span *ngIf="!product.id"><ion-icon name="add"></ion-icon></span>
    </button>
    </ion-fab>
</ion-content>
